body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  margin: 0;
}

#container {
  height: 100vh;
  width: auto;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1501622832816-1ea85e83687a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
  height: 120px;
}
#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}
#keyboard {
  height: 400px;
}
.operator, .number, .empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0px;
  font-weight: bold;
  font-size: 15px;
}

.number, .empty {
  background-color: #eaedef;
}

.number, .operator {
  cursor: pointer;
}

.operator:active, .number:active {
  font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
  outline: 0;
}

button:nth-child(4) {
  font-size: 20px;
  background-color: #bceae2;
}

button:nth-child(8) {
  font-size: 20px;
  background-color: #a2d1d2;
}

button:nth-child(12) {
  font-size: 20px;
  background-color: #8fc4cc;
}

button:nth-child(16) {
  font-size: 20px;
  background-color: #69929a;
}

button:nth-child(20) {
  font-size: 20px;
  background-color: #ff8533;
}
